* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #b92b27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1565C0, #b92b27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5%;
    min-width: 250px;
}


/* ------------ header--------- */

header {
    display: grid;
    grid-template: 5fr 1fr 1fr / 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px auto;
}

.header1 {
    grid-area: 1/1/ 2/ 2;
    background: url('./pizza-1344720_1280.jpg') center no-repeat;
    background-size: cover;
    height: 400px;
}

.tacos {
    grid-area: 2/1/ 3/ 2;
    background-color: #ffc600;
    color: #272727;
    height: 80px;
}

.kamboucha {
    grid-area: 3/1/4/ 2;
    background-color: #ffc600;
    color: #272727;
    height: 80px;
}

@media (min-width: 501px) and (max-width: 700px) {
    header {
        display: grid;
        grid-template: 5fr 1fr / 1fr 1fr;
    }
    .header1 {
        grid-area: 1/1/ 2/ 3;
    }
    .tacos {
        grid-area: 2/1/ 3/ 2;
    }
    .kamboucha {
        grid-area: 2/2/3/ 3;
    }
}

@media (min-width: 701px) {
    header {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }
    .header1 {
        grid-area: 1/1/ 3/ 3;
        height: 400px;
    }
    .tacos {
        grid-area: 1/3/ 2/ 4;
        height: 190px;
    }
    .kamboucha {
        grid-area: 2/3/3/ 4;
        height: 190px;
    }
}


/* ------------ header--------- */


/* --------------- section1* -------------*/

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px auto;
}

.feature1,
.feature2,
.feature3,
.feature4 {
    height: 165px;
    background-color: #fff;
}


/* --------------- section1* -------------*/


/* -------------------menu -------------*/

ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    display: none;
}

ul li {
    list-style-type: none;
    background-color: #ffc600;
    text-align: center;
    color: #272727;
    height: 43px;
}

.menu {
    margin: 0% auto;
}

.menu a {
    text-decoration: none;
    color: #272727;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #ffc600;
    border: none;
    cursor: pointer;
    color: #272727;
    display: block;
    margin-bottom: 3%;
}

@media (min-width:768px) {
    body {
        padding: 3%;
    }
    .menu {
        margin: 1% auto;
    }
}

@media (min-width: 1001px) {
    button {
        display: none;
    }
    ul {
        display: grid;
    }
}


/* -------------------menu -------------*/


/* --------feat_taco ---------*/

.feat_taco {
    display: grid;
    grid-template: repeat(auto-fit, 1fr)/ 1fr;
    padding: 50px;
    background-color: #fff;
}

.feat_taco img {
    grid-area: 1/1/2/2;
    width: 100%;
    height: auto;
}

.feat_taco h2 {
    margin-bottom: 2%;
}

.feat_taco_text {
    grid-area: 2/1/3/2;
}

.feat_taco p {
    margin: 15px auto;
    font-size: 15px;
    font-weight: 600;
}

.feat_taco a {
    text-decoration: none;
    color: #272727;
    background-color: #ffc600;
    padding: 10px 20px;
    display: inline-block;
}

@media (min-width: 700px) {
    .feat_taco {
        display: grid;
        grid-template: 1fr / 35% 65%;
        padding: 50px;
        background-color: #fff;
    }
    .feat_taco_text {
        grid-area: 1/2/2/3;
        display: flex;
        align-items: center;
    }
    .feat_taco a {
        padding: 3% 7%;
    }
}


/* --------feat_taco ---------*/


/* --------- images ----------- */

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
    margin: 40px auto;
}

.images img {
    width: 100%;
    height: auto;
}


/* --------- images ----------- */